@import "@/styles/main";

.container {
    padding: $gap-xxs 0;
    .title {
        font-size: $font-size-l;
        margin-bottom: $gap-xs;
    }

    .tabs {
        display: flex;
        gap: $gap-xs;
        margin-bottom: $gap-xs;

        .tab {
            padding: 0.5rem 1rem;
            border: 1px solid $border-color;
            border-radius: 6px;
            cursor: pointer;
            @include transition();

            &:hover {
                opacity: 0.8;
            }
        }
        .active {
            background-color: $accent-color;
            color: $white;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: $gap-xs;
        }
    }
}
