$black: #000;
$white: #fff;

$primary-color: #fff;
$secondary-color: #25262c;
$secondary-text-color: #5a5a5a;
$accent-color: #0169ff;
$accent-color-2: #005bb5;
$error-color: #b22222;

$border-color: #eaecee;

$bg-opacity: #00000080;

$bg-gradient-primary: #2479404d;
$bg-gradient-secondary: #121212;

$switcher-dark: #212b36;
$switcher-light: #ccccce;
