$font-size-xxs: 12px;
$font-size-xs: 16px;
$font-size-s: 20px;
$font-size-m: 24px;
$font-size-l: 36px;
$font-size-xl: 48px;
$font-size-xxl: 64px;
$font-size-xxxl: 76px;
$font-size-4xl: 88px;

$font-weight-medium: 300;
$font-weight-extrabold: 600;

$size-zero: 0px;
$size-one: 1px;
$size-xxxs: 5px;
$size-xxs: 10px;

$size-xs: 20px;
$size-s: 25px;
$size-m: 60px;
$size-l: 100px;
$size-xl: 200px;
$size-xxl: 300px;
$size-xxxl: 400px;
$size-4xl: 450px;
$size-5xl: 600px;
$size-7xl: 900px;

$size-laptop: 1280px;
$size-tablet: 875px;
$size-mobile: 557px;

$gap-5xs: 4px;
$gap-4xs: 8px;
$gap-xxxs: 12px;
$gap-xxs: 16px;
$gap-xs: 24px;
$gap-s: 36px;
$gap-m: 48px;
$gap-l: 64px;
$gap-xl: 96px;

$border-radius-xs: 8px;
$border-radius-l: 24px;

$opacity-hover: 0.8;

$duration-200: 200ms;
$duration-300: 200ms;
$duration-400: 400ms;

$scale-s: 1.05;
